<%- include('../partials/head.ejs') %>

<body>
  <div class="Header">
    <div class="mt-4 p-3 text-white rounded">
        <h1><%= title %></h1>
    </div>
  </div>
  <%- include('../partials/menu.ejs') %>

  <div class="container">
    <div class="row">
      <% data.forEach((product) => { %>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="card h-100" style="width: 18rem;">
            <img src="<%= product.imgSrc %>" class="card-img-top" alt="<%= product.title %>">
            <div class="card-body">
              <h5 class="card-title"><%= product.title %></h5>
                <% console.log(product.id + " product -----") %>
                <button type="button" class="product btn btn-warning" data-bs-toggle="modal" data-bs-target="#productmodal<%= product.id %>" id= <%=product.id %>>
                    Product Details
                </button>
    
                <%- include('../partials/productmodal.ejs', {product: product}) %>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>



<%- include("../partials/footer") %>

</body>
</html>
